.hidden {
    display: none;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

body {
    &.stopped {
        background-color: #ff0000;

        #note {
            color: #ff0000;
        }
    }
    &.started {
        background-color: #00ff00;

        #note {
            color: #00ff00;
        }
    }
    &.paused {
        background-color: #ff8000;

        #note {
            color: #000000;
            animation: blinker 1s linear infinite;
            display: block;
        }
    }
}

div#welcome {
    input {
        margin: 0 auto;
        display: block;
        font-size: 8vw;
    }
}
div#timing {
    font-size: 25.5vw;
    #note {
        text-align: center;
    }
}
div#setup {
    input {
        width: 25%;
        height: 20%;
        margin-top: 20%;
        font-size: 8vw;
    }
    input#seconds {
        margin-left: 25%;
        float: left;
    }

    div.defaultTimes {
        margin-top: 1vw;
        text-align: center;

        ul {
            display: inline-table;

            li {
                font-size: 4vw;
                margin-right: 6vw;
                display: inline;

                a {
                    padding: 0.5vw 1vw;
                    text-decoration: none;
                    color: #ffffff;
                    background-color: #960000;
                }
            }
        }
    }

    div.version {
        font-size: 1.5vw;
        text-align: center;
        color: rgb(255, 162, 162);
    }
}
